@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@500&family=Anton&family=Raleway:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  background-color: #111111;
  padding: 20px 30px;
  border-radius: 20px;
  transition: background-color ease-in-out 0.5s;
}

.container.lost {
  background-color: #8a0000;
}

.container.win {
  background-color: #033807;
}

.cell {
  width: 40px;
  height: 40px;
  animation: cellBackgroundAnimation 6s ease-in-out 0s infinite normal forwards;
  background-color: #686868;
  border: 2px solid #999999;
  padding: 0px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.cell:disabled {
  background-color: #1f1f1f;
  border: 2px solid #99999950;
}

.cell.one {
  color: #6767ff;
}

.cell.two {
  color: #448b44;
}

.cell.three {
  color: #ff7070;
}

.cell.four {
  color: #63367e;
}

.cell.five {
  color: #966937;
}

.cell.six {
  color: #3b8788;
}

.cell.seven {
  color: #514faa;
}

.cell.eight {
  color: #979797;
}


.flagsRemaining {
  height: 50px;
  border: 2px solid yellow;
  border-radius: 15px;
  background-color: black;
  color: yellow;
}

.counter {
  height: 50px;
  border: 2px solid yellow;
  border-radius: 15px;
  background-color: black;
  color: yellow;
}

.counterNumber {
  font-size: 26px;
  font-family: 'Anton';
  line-height: 33px;
}

.counterDescription {
  font-size: 12px;
  font-family: 'Raleway';
}

.counterDescription {
  font-size: 12px;
  font-family: 'Raleway';
}

.chooseDificulty {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.chooseDificulty>button {
  border: 2px solid #fff;
  font-family: 'Raleway';
  font-weight: 700;
}

div .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
  width: 100%;
}

.d-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.board {
  display: flex;
  justify-content: center;
}

.board .game {
  display: grid;
  gap: 5px;
  width: fit-content;
  height: fit-content;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center
}

.justify-content-center {
  justify-content: center;
}

.emojiFace {
  font-family: 'Noto Emoji';
  font-size: 48px;
}

.click-pointer {
  cursor: pointer;
}

.svg {
  padding: 3px;
}

.p-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}

.b-black {
  background-color: #1f1f1fa8;
}

.h-50 {
  height: 50%;
}

.w-50 {
  width: 50%;
}

.debugInput {
  opacity: 0;
  cursor: default;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.b-gray {
  background-color: rgb(69, 69, 69);
}

.mockData-textarea {
  margin-right: 15px;
  border-radius: 5px;
  padding: 5px;
}