:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;

}

.board h1 {
  color: #eee;
  margin-bottom: 12px;
}

.board h2 {
  color: #242424;
  margin-top: 13%;
  margin-bottom: 10px;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 50px;
  height: 50px;
  border: 2px solid #eee;
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.uncovered {
  width: 50px;
  height: 50px;
  border: 2px solid #eee;
  background-color: #242424;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
  cursor: not-allowed;
  pointer-events: none;
}

.explotedMine {
  width: 50px;
  height: 50px;
  border: 2px solid #ff0000;
  background-position: 100%;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
  cursor: not-allowed;
  pointer-events: none;
}

.emojis {
  position: absolute;
  font-size: 40px;
  display: grid;
  place-items: center;
  margin-bottom: 5px;
}

.emojisWin {
  position: absolute;
  font-size: 40px;
  display: grid;
  place-items: center;
  margin-bottom: 5px;
  border: 2px solid green;
}

.disabled {
  width: 50px;
  height: 50px;
  border: 2px solid #eee;
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: not-allowed;
  pointer-events: none;
  font-size: 48px;
}

.imgEmoji {
  width: 65px;
  height: 65px;
}

.resetButton {
  width: auto;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 5px;
  background-color: #e8e8e8;
  margin-bottom: 5px;
}